{{import_globals}}
{{#if _isEnabled}}
<button
    role="link"
    data-type="{{type}}"
    data-id="{{_id}}"
    data-item-index="{{_index}}"
    class="{{#if _isHidden}}hidden disabled {{/if}}{{#if locked}}locked disabled {{/if}}{{#if _classes}}{{_classes}}{{/if}}"
    {{#any _isHidden locked}}disabled="disabled" {{/any}}
    aria-label="{{{compile ariaLabel this}}} {{#if locked}}{{@root/_globals._accessibility._ariaLabels.locked}}{{else if _isComplete}}{{@root/_globals._accessibility._ariaLabels.complete}}{{else}}{{@root/_globals._accessibility._ariaLabels.incomplete}}{{/if}}"
    tooltip="{{#if _showTooltip}}{{{compile tooltip this}}}{{/if}}">
    {{#unless _alignIconRight}}
    {{#if _iconClass}}<span class="icon-left icon {{_iconClass}}"></span> {{/if}}
    {{/unless}}
    {{#if text}}
	<div class="text">
	{{{compile text this}}}
	</div>
	{{/if}}
    {{#if _alignIconRight}}
    {{#if _iconClass}}<span class="icon-right icon {{_iconClass}}"></span>{{/if}}
    {{/if}}
</button>
{{/if}}
