{{import_globals}}
{{#if _isEnabled}}
<button
  class="{{#if _iconClass}}btn-icon{{/if}}{{#if text}} btn-text{{/if}} pagenav__btn{{#if _isHidden}} is-hidden is-disabled{{/if}}{{#if locked}} is-locked is-disabled{{/if}}{{#if _classes}} {{_classes}}{{/if}}{{#if text}} has-text{{/if}}{{#if _iconClass}} has-icon{{/if}}{{#if _alignIconRight}} icon-is-right{{else}} icon-is-left{{/if}} js-pagenav-btn"
  role="link"
  data-type="{{type}}"
  data-id="{{_id}}"
  data-item-index="{{_index}}"
  {{#any _isHidden locked}} disabled="disabled"{{/any}}
  aria-label="{{#if locked}}{{@root/_globals._accessibility._ariaLabels.locked}}. {{/if}}{{{compile ariaLabel this}}}"
  data-tooltip="{{#if _showTooltip}}{{{compile tooltip this}}}{{/if}}">

  <span class="pagenav__btn-inner">

    {{#unless _alignIconRight}}
    {{#if _iconClass}}
    <span class="pagenav__btn-icon" aria-hidden="true">
      <span class="icon {{_iconClass}}"></span>
    </span>
    {{/if}}
    {{/unless}}

    {{#if text}}
    <span class="pagenav__btn-text">
      <span class="pagenav__btn-text-inner">
        {{{compile text this}}}
      </span>
    </span>
    {{/if}}

    {{#if _alignIconRight}}
    {{#if _iconClass}}
    <span class="pagenav__btn-icon" aria-hidden="true">
      <span class="icon {{_iconClass}}"></span>
    </span>
    {{/if}}
    {{/if}}

  </span>

</button>
{{/if}}
